<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework"
						 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>

	</configSections>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
			</parameters>
		</defaultConnectionFactory>
	</entityFramework>
	<connectionStrings>
		<add name="LoggingContext"
				 connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=NLog.Mvc; Integrated Security=True; MultipleActiveResultSets=True"
				 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<nlog>
		<extensions>
			<add assembly="NLog.Mvc"/>
		</extensions>
		<targets>
			<target name="NLogMvcLogger"
							type="DbContextTarget"
							ConnectionStringName="LoggingContext" 
							layout="${longdate}|${level}|${logger}|${message}${onexception:|${exception:format=type}|${exception:format=method}|${exception:format=message}|${exception:format=stacktrace}}" />
		</targets>
		<rules>
			<logger name="*"
							minLevel="Trace"
							appendTo="NLogMvcLogger"/>
		</rules>
	</nlog>
</configuration>