<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAN1ljKtMvUUm0mt/t1bo5dwAAAAACAAAAAAADZgAAwAAAABAAAAAm9vBoiq2zKO+mkCzqSyAYAAAAAASAAACgAAAAEAAAAAIk6PeWHNSBw726Nm8f5H4oAAAArerocglJGIC9j/W5pIoUK7oiJYtepJFI5N68rfS9kPfa+SkgiT7HNBQAAAA3EbYgsGrcXgWeqBZA6uS6UGE8fA==" />
    <add key="http://nuget.gw.symbolsource.org/Public/NuGet" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAN1ljKtMvUUm0mt/t1bo5dwAAAAACAAAAAAADZgAAwAAAABAAAAA+NnsA83FTcIPz8q+KRvNRAAAAAASAAACgAAAAEAAAAIzBCFkG3RMxaQwWrnaq544oAAAAhfH4tiU/zp/hVqCFhqmCsijhLOGYBM9FOLE00EaDMA5oZpUAiPerzxQAAADYejjTs1yQMCw45tm+E0G5hAZOQQ==" />
  </apikeys>
  <packageSources>
    <add key="NuGet official package source" value="https://www.nuget.org" />
  </packageSources>
</configuration>